.historia {
    font-size: 12px;
}

.personas {
    display: flex;
    justify-content: space-between;
}

.persona {
    border: 1px solid #ccc;
    border-radius: 5px;

    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
}

.persona img {
    border-radius: 157px 157px 157px 157px;
    border: 1px solid #444242;
}